
nav{
    background-color:#6a3dae;
    background: linear-gradient(0deg, #7420a0, #3a0b85); 
    padding: 2px;

}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #ffffff;
    background-color:#c4c2cb;
    padding:.5rem .5rem;
    text-align:center;
    color:#482f86;
    margin: 1px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom:1px;
    margin-top: 1px;
}
form p{
    font-size: small;

}

form{
    background-color: #7f818a;
    color: #ffffff;
    align-content: center;
}

header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    font-size:1.5em;
}

body{
    background: linear-gradient(0deg, #9857b4, #98a3ea);
    background-color:#f0f8ff;
    font-family: Arial, sans-serif;
    font: 1.25em;
    font-style: italic;
    font-size: small;
    color:#819baf;
    line-height:1.8;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 1px;
    display: grid;
    margin: 0 auto;
}

.column1{
    float: left;
    width: 300px;
}

.column2{
    float: left;
    width: 300px;

}
.column3{
    float: left;
    width: 300px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4, 100px;
    gap: 10px;
}


nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a{ 
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a{
    color:#d9e8d8;
    text-decoration: none;
}


main{
    max-width:90%;
    margin: auto;
    padding:1rem;
}

ul{
    color: #fff;
    font-size: large;
    line-height: 3.5;
}

ol{
    color: #fff;
    font-size: large;
    line-height: 3.5;
}

section{
    background-color:#7f818a;
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding:.5rem; 
    max-width: 100%;
    min-height: 90%;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-style: italic;
    color:#180e51;
    margin-bottom:.5rem;
}

form{
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding:1rem; 
    justify-content: center;
}

h6{
    font-size: medium;
    font-style: italic;
    color: #180e51;
    align-items: center;

}
p{
    font-size:1rem;
    margin-bottom:.25rem;
    color:#fff;
}


img{
    width:60%;
    min-height: 80%;
    border-radius:8px;
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: center;
    object-fit: cover;
}

.main-pic{
    min-height: 100%;
    min-width: 100%;
    
}
footer{
    background-color:#2c3e50;
    text-align: center; 
    padding:1rem 0;
    margin-top:.5rem;
}

div{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    overflow: visible;
    padding: auto;
}


@media (min-width: 768px) {
    .header {grid-area: 1 / span 6;}
    .menu {grid-area: 2 / span 4;}
    .content {grid-area: 2 / span 6;}
    .facts {grid-area: 2 / span 1;}
    .footer {grid-area: 3 / span 6;}
}